@import url('https://fonts.googleapis.com/css2?family=Delius+Swash+Caps&display=swap');


body{background:burlywood;}
.main{ width:400px;
margin: 0 auto;}
img{width:100%;
border: 10px solid white;
  padding: 15px;
border-radius: 25px;}
h1{
    font-family: "Delius Swash Caps", cursive;
    color:white;
  margin-top: 50px;
  margin-bottom: 50px;
  background-color:burlywood;
text-align: center;
border-radius: 10px;
margin-left: 15%;
font-size: 34px;}
.input{
     border-radius: 15px;
  background: #e4e4e4;
  width: 100px;
  height:40px;
   padding: 10px;
   margin-top: 20px;
  border-color: white;
  
}
.clear{
   border-radius: 15px;
 width: 70px;
  height:40px;

   border-color: white;
}
.equals{
    border-radius: 15px;
     width: 72px;
  height:40px;
 border-color: white;
}
.result{
     font-family: "Delius Swash Caps", cursive;
     font-size: 20px;
     margin-top: 40px;
     text-align: center;
     
}
